<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<div class="container">
  <h1>Todo App</h1>
  <hr />
  <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
    <div class="form-group">
      <label for="task">Task</label>
      <input
        type="text"
        class="form-control"
        id="task"
        placeholder="Enter task"
        ngModel
        name="task"
      />
      <small id="emailHelp" class="form-text text-danger">Require task</small>
    </div>
    <button id="submitButton" type="submit" class="btn btn-primary">
      Submit
    </button>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Archieve</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let t of taskArray">
          <td>{{t.taskName}}</td>
          <td><input id="myCheckbox" type="checkbox" /></td>
          <td>
            <button id="delete" class="btn btn-danger btn-sm">
              <fa-icon [icon]="trash"></fa-icon> 
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
