/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#myCheckbox {
    margin-left: 20px;
}

#delete {
    margin-left: 3px;
    padding-inline: 18px;
}